<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>{{caption}}</h1>
    <image src="./images/seastar.webp" alt="seastar" />
  </body>
</html>